* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

/* The overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(119, 119, 119);
    z-index: 9999;
    animation: slideUp 1.5s ease forwards;
    animation-delay: 1s;
    transform: translateY(0);
}

@keyframes slideUp {
    to {
        transform: translateY(-100%);
    }
}


/* The nav bar */
.nav {
    padding: 1vw 5vw;
    height: 3vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-30px);
    animation: floatInNav 1s ease forwards;
    animation-delay: 2s;
}

@keyframes floatInNav {
    to {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0 1px 2px #ffffff94;
    }
}

.left {
    font-size: 2vw;
    font-weight: 700;
    align-items: center;
    transition: all 1s ease;
}

.left:hover {
    transform: rotate(360deg);
}

.right {
    align-items: center;
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
}

.right a {
    color: white;
    text-decoration: none;
    position: relative;
}

.right a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #fff;
    transition: width 0.4s ease;
}

.right a:hover::after {
    width: 100%;
}

.sidebar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vw 3vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 10vw;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.349);
}

.sidebar a {
    color: black;
    text-decoration: none;
    line-height: 6vh;
    font-size: 1.5vw;
}

.sidebar i {
    color: #000;
    text-align: right;
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 1vw;
    cursor: pointer;
}

.hero {
    height: calc(100vh - 5vw);
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.glitchy {
    font-size: 15vw;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
    font-family: 'Nova Square', serif;
    opacity: 0;
    animation: heroFade 3.5s ease forwards;
    animation-delay: 2.3s;
}

@keyframes heroFade {
    to {
        opacity: 1;
    }
}

.glitchy:hover {
    letter-spacing: 1vw;
    text-shadow:
        0.5vw 0 #da02da,
        -0.5vw 0 #02d6d6;
}

#about {
    margin: 0;
    display: flex;
    gap: 3vw;
    padding: 1vw 5vw;
    overflow-x: hidden;
}

#about i {
    display: none;
    background-color: #fffffff5;
    backdrop-filter: blur(10px);
    border-radius: 2vw;
    color: #000;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.705);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    margin: 2vw 3vw;
    padding: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.img {
    width: 30vw;
    padding: 1vw;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 30vw;
    border-radius: 2vw;
    margin: 0 0 2vw 0;
    box-shadow: 0px 4px 20px white;
    transition: all 0.3s ease;
}

.img img:hover {
    transform: scale(1.05);
}

.img h1 {
    font-size: 2vw;
    text-align: center;
}

#about hr {
    display: none;
}

.intro .heading h1,
.skills .heading h1 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

.intro,
.skills {
    height: 100%;
    /* Let content define height */
}

.intro {
    width: 40%;
}

.skills {
    width: 40%;
}

.intro-info {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.skills-info {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.intro-container,
.skills-container {
    height: 70%;
    width: 100%;
    margin: 1vw 0;
    padding: 2vw 3vw;
    font-size: 1.2vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1vw;
    box-shadow: 0 4px 20px rgba(180, 178, 178, 0.918);
    transition: all 0.3s ease;
}

.intro-container:hover {
    transform: scale(1.05);
}

.skills-container:hover {
    transform: scale(1.05);
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 1vw;
    margin-bottom: 1.2vw;
    border: 1px solid white;
    border-radius: 0.5vw;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 1;
}

.skill1 .percent,
.skill2 .percent,
.skill3 .percent,
.skill4 .percent,
.skill5 .percent,
.skill6 .percent,
.skill7 .percent {
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 2;
    /* higher than bar */
    color: white;
}

.skill1:hover,
.skill2:hover,
.skill3:hover,
.skill4:hover,
.skill5:hover,
.skill6:hover,
.skill7:hover {
    color: black;
}

.skill1:hover .percent,
.skill2:hover .percent,
.skill3:hover .percent,
.skill4:hover .percent,
.skill5:hover .percent,
.skill6:hover .percent,
.skill7:hover .percent {
    opacity: 1;
    color: black;
    text-shadow: 0 0 15px white;
}

/* Progress bar background */
.skill1::before,
.skill2::before,
.skill3::before,
.skill4::before,
.skill5::before,
.skill6::before,
.skill7::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: 0;
    transition: width 0.5s ease;
    border-radius: 0.5vw;
}

.skill1 p,
.skill2 p,
.skill3 p,
.skill4 p,
.skill5 p,
.skill6 p,
.skill7 p {
    position: relative;
    z-index: 2;
}

.skill1:hover::before {
    width: 70%;
}

.skill2:hover::before {
    width: 75%;
}

.skill3:hover::before {
    width: 80%;
}

.skill4:hover::before {
    width: 90%;
}

.skill5:hover::before {
    width: 90%;
}

.skill6:hover::before {
    width: 70%;
}

.skill7:hover::before {
    width: 60%;
}

#projects {
    height: 100vh;
    padding: 1vw 3vw;
}

#projects h1 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

#projects a {
    text-decoration: none;
    color: #fff;
}

.project-names {
    margin: 1.5vw 2vw;
    padding: 1vw 3vw;
    height: 3vw;
    font-size: 1.3vw;
    font-family: 'Nova Square';
    display: flex;
    align-items: center;
    border: 1px dashed white;
    border-radius: 1vw;
    transition: all 0.3s ease;
}

.project-names:hover {
    transform: translateY(-10px);
    box-shadow: 1px 0px 10px #ffffffd8;
    color: #000;
    background-color: #fff;
}

#contact {
    height: 89vh;
    padding: 1vw 3vw 0 3vw;
}


.contact-h1 {
    text-align: center;
    width: 100%;
    font-size: 2.5vw;
    padding: 0 0 1vw 0;
}

#contact hr {
    text-shadow: 0 1px 10px #fff;
}

.contact-h2 {
    text-align: center;
    font-size: 2vw;
    font-family: 'Bodoni Moda';
    margin: 1vw;
}

.container-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.contact-container {
    height: 58vh;
    width: 50vw;
    border: 1px solid #fff;
    border-radius: 1vw;
    display: flex;
}

.contact-details {
    width: 55%;
    padding: 1.5vw 3vw;
    text-align: left;
}

.contact-details h2 {
    font-family: 'Nova Square';
    font-size: 2vw;
    margin-bottom: 1.5vw;
}

.contact-details a {
    color: #fff;
    text-decoration: none;
}

.contact-details .title {
    margin-top: 1vw;
    font-family: Bodoni Moda;
    font-size: 1.5vw;
}

.contact-details p {
    font-size: 1.2vw;
}

.contact-details i {
    font-size: 2vw;
}

.contact-form {
    font-family: 'Nova Square';
    background-color: white;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    width: 45%;
    padding: 1.5vw 3vw;
    font-weight: 700;
    font-size: 1.5vw;
    color: #000;
}

.input-container {
    display: flex;
    width: 91%;
    height: 1vw;
    align-items: center;
    padding: 1vw;
    background-color: #dddadc;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px #00000094;
    margin-top: 0.3vw;
    margin-bottom: 1vw;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #dddadc inset;
}

.contact-form input {
    background-color: #dddadc;
    border-radius: 1vw;
    height: 2vw;
    font-size: 1.2vw;
    margin-bottom: 1vw;
    border: none;
    outline: none;
    width: 100%;
}

.textarea-container {
    display: flex;
    width: 91%;
    height: 2vw;
    align-items: center;
    padding: 1vw;
    background-color: #dddadc;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px #00000094;
    margin-top: 0.3vw;
    margin-bottom: 1vw;
}

.contact-form textarea {
    border: none;
    outline: none;
    background: transparent;
}

.contact-form button {
    background-color: black;
    box-shadow: 0px 0px 10px #00000094;
    border: none;
    width: 10vw;
    height: 3vw;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.2vw;
    font-family: 'Bodoni Moda';
}

.footer-contact {
    margin-top: 1.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact img {
    height: 3vw;
}

.footer {
    background-color: #2b2b2b;
    padding: 1vw 3vw;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    text-align: center;
}

@media (max-height:430px) {
    .project-names {
        margin: 1vw 2vw;
        padding: 1vw 3vw;
        height: 3vw;
        font-size: 1.3vw;
    }

    .footer-contact {
        margin-top: 1vw;
    }

    .intro-container,
    .skills-container {
        margin: 0.2vw 0;
        padding: 1vw 3vw;
        font-size: 1vw;
    }

    .img img {
        height: 75vh;
        width: auto;
    }
}

@media (max-width:768px) {
    .nav {
        padding: 1vh 3vh;
        height: 5vh;
    }

    .left {
        font-size: 2.5vh;
        text-align: left;
    }

    .right {
        font-size: 1.7vh;
        text-align: right;
    }

    .sidebar {
        width: 30vw;
        padding: 1vh 2vh;
    }

    .sidebar i {
        font-size: 2.5vh;
    }

    .sidebar a {
        font-size: 2vh;
    }

    #about i {
        font-size: 2.5vh;
        padding: 1vh;
        border-radius: 2.5vh;
    }

    .hero {
        height: calc(100vh - 7vh);
    }

    .glitchy {
        font-size: 10vh;
        width: 90vw;
    }

    .glitchy:hover {
        letter-spacing: 0.4vh;
        text-shadow:
            0.2.5vh 0 #da02da,
            -0.2.5vh 0 #02d6d6;
    }

    #about {
        display: flex;
        flex-direction: column;
        padding: 1vw 3vh;
    }

    .img {
        width: 100vw;
        padding: 0;
        align-items: center;
    }

    .img img {
        margin: 0;
        width: 90vw;
        border-radius: 4vw;
        box-shadow: 0px 3px 10px white;
    }

    .img h1 {
        font-size: 3vh;
        text-align: center;
        margin-right: 5vh;
    }

    #about hr {
        display: block;
    }

    .intro .heading h1,
    .skills .heading h1 {
        font-size: 3vh;
        margin-bottom: 1vw;
    }

    .intro,
    .skills {
        width: 100%;
    }

    .intro-info {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .skills-info {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .intro-container,
    .skills-container {
        width: 100%;
        margin: 1vh 0;
        padding: 2vh 5vh;
        font-size: 2vh;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2vh;
    }

    .skills-container {
        padding: 2vh 5vh;
    }

    .skill1,
    .skill2,
    .skill3,
    .skill4,
    .skill5,
    .skill6,
    .skill7 {
        border-radius: 1.2vh;
        margin-bottom: 1.2vh;
        padding: 1vh;
    }

    #projects {
        height: 100vh;
        padding: 2vh 3vh;
    }
    
    #projects h1 {
        font-size: 3vh;
        margin-bottom: 4vh;
    }
    
    .project-names {
        margin: 3vh 2vh;
        padding: 1vh 3vh;
        height: 8vh;
        font-size: 1.7vh;
        border-radius: 2vh;
    }

    #contact {
        height: 90vh;
        padding: 1vw 3vw 0 3vw;
    }
    
    
    .contact-h1 { 
        font-size: 2.5vh;
        padding: 0 0 1vh 0;
    }
    
    .contact-h2 {
        font-size: 2vh;
        font-family: 'Bodoni Moda';
        margin: 2vh;
    }
    
    .container-holder {
        display: flex;
        flex-direction: column;
        margin: 2vh;
    }
    
    .contact-container {
        height: 70vh;
        width: 70vw;
        border-radius: 1vh;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .contact-details {
        width: 64vw;
        height: 27vh;
        padding: 1.5vh 3vh;
    }
    
    .contact-details h2 {
        font-size: 2vh;
        margin-bottom: 1.7vh;
    }

    .contact-details .title {
        margin-top: 1vh;
        font-size: 1.7vh;
    }
    
    .contact-details p {
        font-size: 1.5vh;
    }
    
    .contact-details br{
        display: none;
    }

    .contact-details i {
        font-size: 3vh;
    }
    
    .contact-form {
        border-top-right-radius: none;
        border-bottom-right-radius: 1vh;
        border-bottom-left-radius: 1vh;
        width: 64vw;
        font-size: 1.5vh;
        height: 29vh;
    }
    
    .input-container {
        width: 91%;
        height: 1vh;
        padding: 1vh;
        border-radius: 1vh;
        margin-top: 1vh;
        margin-bottom: 1.5vh;
    }
    
    .contact-form input {
        border-radius: 1vh;
        height: 2vh;
        font-size: 1.2vh;
        margin-bottom: 1vh;
    }
    
    .textarea-container {
        height: 2vh;
        padding: 1vh;
        border-radius: 1vh;
        margin-top: 0.3vh;
        margin-bottom: 3vh;
    }
    
    .contact-form button {
        width: 10vh;
        height: 4vh;
        border-radius: 0.5vh;
        font-size: 1.2vh;
    }
    
    .footer-contact {
        margin-top: 1.8vh;
    }
    
    .footer-contact img {
        height: 3vh;
    }
    
    .footer {
        height: 4vh;
        align-items: center;
        padding: 2vh 3vh;
        font-size: 1.3vh;
        letter-spacing: 0.1vh;
    }
}
